<mat-drawer-container class="container">
  <mat-drawer-content style="overflow: hidden;">
    <mat-toolbar color="primary" class="toolbar">
      <span>Color Matcher</span>
      <!--      <button mat-icon-button-->
      <!--              (click)="drawer.toggle()">-->
      <!--        <mat-icon>settings</mat-icon>-->
      <!--      </button>-->
    </mat-toolbar>
    <gridster [options]="options">
      <gridster-item [item]="item"
                     *ngFor="let item of dashboard; let i = index">
        <div class="colorBox"
             [style]="{backgroundColor: colorsToMatch[i].color}">
          <span class="hexValue" [style]="{color: colorsToMatch[i].textColor}">
            {{colorsToMatch[i].color}}
          </span>
          <button mat-icon-button [style]="{color: colorsToMatch[i].textColor}"
                  (click)="copyToClipboard(colorsToMatch[i].color)">
            <mat-icon>content_copy</mat-icon>
          </button>
          <mat-icon *ngIf="colorsToMatch[i].isStyleGuideColor" [style]="{color: 'gold'}">star</mat-icon>
        </div>
      </gridster-item>
    </gridster>
  </mat-drawer-content>
  <mat-drawer position="end" #drawer mode="over">
    <mat-form-field class="example-form-field">
      <mat-label>Clearable input</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
  </mat-drawer>
</mat-drawer-container>
