<mat-drawer-container class="container">
  <mat-drawer-content style="overflow: hidden;">
    <mat-toolbar color="primary" class="toolbar">
      <span>Color Matcher</span>

      <form class="sort-by-form" [formGroup]="sortByForm">
        <label for="firstSort" class="sort-label">Sort By:</label>
        <select formControlName="firstSort" id="firstSort">
          <option *ngFor="let sortOption of sortOptions" [ngValue]="sortOption.value">
            {{sortOption.label}}
          </option>
        </select>
        <select formControlName="secondSort">
          <option *ngFor="let sortOption of sortOptions" [ngValue]="sortOption.value">
            {{sortOption.label}}
          </option>
        </select>
        <select formControlName="thirdSort">
          <option *ngFor="let sortOption of sortOptions" [ngValue]="sortOption.value">
            {{sortOption.label}}
          </option>
        </select>
      </form>
      <!--      <button mat-icon-button-->
      <!--              (click)="drawer.toggle()">-->
      <!--        <mat-icon>settings</mat-icon>-->
      <!--      </button>-->
    </mat-toolbar>
    <gridster [options]="options">
      <gridster-item [item]="item"
                     *ngFor="let item of dashboard; let i = index">
        <div class="color-box"
             [style]="{backgroundColor: colorsToMatch[i].color}">
          <div [style]="{color: colorsToMatch[i].textColor}" class="color-details">
            <div>
              {{colorsToMatch[i].color}}
            </div>
            <div>H: {{colorsToMatch[i].hsl.h}}</div>
            <div>S: {{colorsToMatch[i].hsl.s}}</div>
            <div>L: {{colorsToMatch[i].hsl.l}}</div>
          </div>
          <div class="box-controls">
            <button mat-icon-button>
              <mat-icon [style]="{color: colorsToMatch[i].isStyleGuideColor ? 'gold' : colorsToMatch[i].color}">star
              </mat-icon>
            </button>
            <button mat-icon-button [style]="{color: colorsToMatch[i].textColor}"
                    (click)="Utils.copyToClipboard(colorsToMatch[i].color)">
              <mat-icon>content_copy</mat-icon>
            </button>
          </div>
        </div>
      </gridster-item>
    </gridster>
  </mat-drawer-content>
  <mat-drawer position="end" #drawer mode="over">
    <mat-form-field class="example-form-field">
      <mat-label>Clearable input</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
  </mat-drawer>
</mat-drawer-container>
